<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.usercenter.mapper.WeldingmachinesMapper">

    <resultMap id="BaseResultMap" type="com.yupi.usercenter.model.domain.Weldingmachines">
            <id property="machine_id" column="machine_id" jdbcType="BIGINT"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="serial_number" column="serial_number" jdbcType="VARCHAR"/>
            <result property="purchase_date" column="purchase_date" jdbcType="DATE"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="voltage" column="voltage" jdbcType="DECIMAL"/>
            <result property="current" column="current" jdbcType="DECIMAL"/>
            <result property="electrode_diameter" column="electrode_diameter" jdbcType="DECIMAL"/>
            <result property="last_maintenance_date" column="last_maintenance_date" jdbcType="DATE"/>
            <result property="usage_hours" column="usage_hours" jdbcType="INTEGER"/>
            <result property="welding_method" column="welding_method" jdbcType="VARCHAR"/>
            <result property="image_path" column="image_path" jdbcType="VARCHAR"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="machine_status" column="machine_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        machine_id,brand,model,
        serial_number,purchase_date,location,
        voltage,current,electrode_diameter,
        last_maintenance_date,usage_hours,welding_method,
        image_path,notes,machine_status
    </sql>
</mapper>
