<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.usercenter.mapper.WeldingusageMapper">

    <resultMap id="BaseResultMap" type="com.yupi.usercenter.model.domain.Weldingusage">
            <id property="borrow_id" column="borrow_id" jdbcType="BIGINT"/>
            <result property="machine_id" column="machine_id" jdbcType="INTEGER"/>
            <result property="employee_id" column="employee_id" jdbcType="INTEGER"/>
            <result property="borrow_time" column="borrow_time" jdbcType="TIMESTAMP"/>
            <result property="return_time" column="return_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        borrow_id,machine_id,employee_id,
        borrow_time,return_time
    </sql>
</mapper>
