<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fishman.welder_management_backend.mapper.WeldingMachineFaultsMapper">

    <resultMap id="BaseResultMap" type="com.fishman.welder_management_backend.model.domain.WeldingMachineFaults">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="machineID" column="machineID" jdbcType="BIGINT"/>
            <result property="employeeID" column="employeeID" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="imagePath" column="imagePath" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
          <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,machineID,employeeID,title,
        description,status,imagePath,
        createTime,updateTime,isDelete
    </sql>
</mapper>
